@mixin container-properties {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin container-item-properties {
  width: 100%;
  max-width: $spacing--max-width;

  @include smaller-than-max-width {    
    padding-left: 50px;
    padding-right: 50px; 
  }

  @include smaller-than-tablet { 
    padding-left: 25px;
    padding-right: 25px; 
  }
} 

@mixin centered {
  margin-left: auto;
  margin-right: auto;
}

/* MEDIA QUERIES */
@mixin smaller-than-max-width { @media (max-width: $spacing--max-width) { @content; } }
@mixin bigger-than-max-width { @media (min-width: $spacing--max-width) { @content; } }

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

@mixin smaller-than-mobile { @media (max-width: $mobile) { @content; } }
@mixin mobile { @media (max-width: $mobile) and (min-width: 0)  { @content; } }
@mixin bigger-than-mobile { @media (min-width: $mobile) { @content; } }

@mixin smaller-than-tablet { @media (max-width: $tablet) { @content; } }
@mixin tablet { @media (max-width: $tablet) and (min-width: $mobile)  { @content; } }
@mixin bigger-than-tablet { @media (min-width: $tablet) { @content; } }

@mixin smaller-than-desktop { @media (max-width: $desktop) { @content; } }
@mixin desktop { @media (min-width: $desktop) { @content; } }

$phone-min:         421px;
$phone-wide-min:    569px;
$tablet-min:        768px;
$tablet-wide-min:   991px;
$desktop-sm-min:   1025px;
$desktop-min:      1241px;
$desktop-wide-min: 1441px;

// Min Width

@mixin phone-min {
	@media (min-width: $phone-min) {
		@content;
	}
}

@mixin phone-wide-min {
	@media (min-width: $phone-wide-min) {
		@content;
	}
}

@mixin tablet-min {
	@media (min-width: $tablet-min) {
		@content;
	}
}

@mixin tablet-wide-min {
	@media (min-width: $tablet-wide-min) {
		@content;
	}
}

@mixin desktop-sm-min {
	@media (min-width: $desktop-sm-min) {
		@content;
	}
}

@mixin desktop-min {
	@media (min-width: $desktop-min) {
		@content;
	}
}

@mixin desktop-wide-min {
	@media (min-width: $desktop-wide-min) {
		@content;
	}
}
